[Global]
surfacethreshold = 7
pairwisedistance = clustalw
matrix = BLOSUM62
theilsencutoff = 0.7
alignmentscore = False
alphabetreduction = False

[Psiblast]
evalue = 10
identity = 0
coverage = 0
threading = False

[Clustalw]
gapopening = 10
gapextension = 0.2
matrix = GONNET

[Muscle]
maxiteration = 16

[Mafft]
configuration = linsi
threading = False

[Results]
best = 20
histogram = True
heatmap = True
structure = pymol
sifts = False

